<div class="brick">
  <div class="col-md-4">
    <div class="thumbnail" id=image-<%= generic_image.id %>>
      <%= image_tag generic_image.image.medium %>
      <div class="caption">
        <% if favorited? generic_image %>
          <span class="heart glyphicon glyphicon-heart" aria-hidden="true"></span>
        <% else %>
          <span class="heart-empty glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <% end %>
        <span><i>Likes:</span> <span class="likes"><%= number_of_likes generic_image %></span>
          <button type="button" class="btn btn-standard" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add to garage</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Add to garage</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Garage:</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="TODO">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Notes:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
